<div class="modal" id='edit_task_modal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for task, url: tasks_path, remote: :true, method: :put, html: { id: 'js-edit-task-form' } do |f| %>
          <div class='form-row'>
            <%= f.hidden_field :id %>
            <div class='form-group'>
              <%= f.label :description %>
              <%= f.text_field :description, placeholder: 'Description', class: 'form-control' %>
            </div>
            <div class='form-group'>
              <%= f.label :name %>
              <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary js-update-task">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
