<div class='d-inline-block'>
  <%= form_for task, remote: true, html: { id: 'new_task' } do |f| %>
    <div class='form-row'>
      <div class="col-3">
        <%= f.text_field :description, placeholder: 'Description', class: 'form-control' %>
      </div>
      <div class="col-3">
        <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
      </div>
      <div class="col">
        <%= f.select :project_id, options_for_select(projects.map { |project| [project.name, project.id] }), { prompt: '' }, { class: 'form-control' } %>
      </div>
      <div id='task_done_from_to' style='display: none;'>
        <div class="col">
          <%= f.text_field :date_done, placeholder: 'Date', class: 'form-control datepicker' %>
        </div>
        <div class="col">
          <%= f.hidden_field :time %>
          <%= f.text_field :from_time, placeholder: 'From', class: 'form-control time-from' %>
          <%= f.text_field :to_time, placeholder: 'To', class: 'form-control time-to' %>
        </div>
      </div>
      <div class="col">
        <h4 id='elapsed_time'>00:00:00</h4>
      </div>
    </div>
  <% end %>
</div>

<div class='d-inline-block float-xs-right'>
  <%= button_tag class: 'btn btn-success js-start-timer' do %>
    <span class="oi oi-media-play"></span>
  <% end %>
  <%= button_tag class: 'btn btn-danger js-stop-timer', style: 'display: none' do %>
    <span class="oi oi-media-stop"></span>
  <% end %>
</div>

<div>
  <%= form_for task, remote: true, method: :put, html: { class: 'js-stop-form' , id: 'update_task'} do |f| %>
    <div class='form-row'>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :time %>
    </div>
  <% end %>
</div>
