<tr id="task_<%= task.id %>">
  <td><%= task.project_name %></td>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.elapsed_time %></td>
  <td><%= task.from_to %></td>
  <td><%= task.date_done %></td>
  <td>
    <%= link_to 'edit', edit_task_path(task), remote: true, class: 'js-task-edit' %>
    <%= link_to task_path(task), method: :delete, remote: true, 'data-confirm' => "Are you sure you want to delete task #{ task.name }?" do %>
      <span class='oi oi-trash'></span>
    <% end %>
    <%= link_to 'javascript://', class: 'js-task-resume', 'data-task-id' => task.id, 'data-time' => task.time do %>
      <span class="oi oi-media-play"></span>
    <% end %>
  </td>
</tr>
