var id = "<%= @task.id %>";
$('#task_' + id).remove();

<%- if @task.project_id %>
  var project_id = "<%= @task.project_id %>";
  var task_count = Number($('#project_header_' + project_id + ' .js-project-task-count').text());
  $('#project_header_' + project_id + ' .js-project-task-count').text(task_count - 1);
<% else %>
  var task_count = Number($('#tasks_without_project_header .js-no-project-task-count').text());
  $('#tasks_without_project_header .js-no-project-task-count').text(task_count - 1);
<% end %>

$('#flash').html('<%= j render partial: "shared/flash_messages" %>');
