$('.js-start-timer').show();
$('.js-stop-timer').hide();

var task_id = "<%= @task.id %>"

if($('#task_' + task_id).length > 0){
  $('#task_' + task_id).replaceWith("<%= j render partial: 'tasks/task', locals: { task: @task } %>");
} else{
  <%- if @task.project_id %>
    var project_id = "<%= @task.project_id %>";
    $('#project_' + project_id).prepend("<%= j render partial: 'tasks/task', locals: { task: @task } %>");
    var task_count = Number($('#project_header_' + project_id + ' .js-project-task-count').text());
    $('#project_header_' + project_id + ' .js-project-task-count').text(task_count + 1);
  <% else %>
    $('#tasks_without_project').prepend("<%= j render partial: 'tasks/task', locals: { task: @task } %>");
    var task_count = Number($('#tasks_without_project_header .js-no-project-task-count').text());
    $('#tasks_without_project_header .js-no-project-task-count').text(task_count + 1);
  <% end %>
}

$('#flash').html('<%= j render partial: "shared/flash_messages" %>');

$('input[type="text"],select').val('');
$('#edit_task_modal').modal('hide');
