<ul class='nav justify-content-end'>
  <% if current_user %>
    <li class='nav-item'>
      <%= image_tag current_user.profile_image, class: 'rounded-circle' %>
      <%= current_user.name %>
    </li>
    <li class='nav-item'>
      <%= link_to 'Log Out', logout_path, method: :delete %>
    </li>
  <% end %>
</ul>
