<div class='container'>
  <div class="jumbotron .container-fluid">
    <h1 class="display-3">TimeTracking System</h1>
    <p class="lead">Welcome to the time tracking app.</p>
    <hr class="my-4">
    <p>To start using it log in with your twitter account.</p>
    <p class="lead">
      <%= link_to "/auth/twitter" do %>
        <%= image_tag 'https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png' %>
      <% end %>
    </p>
  </div>
</div>
