<div class="card">
  <div class="card-header" role="tab" id="tasks_without_project_header">
    <h5 class="mb-0">
      <a data-toggle="collapse" href="#no_project" aria-expanded="false" aria-controls="no_project">
        Tasks without project <span class="badge badge-pill badge-secondary js-no-project-task-count"><%= tasks.count %></span>
      </a>
    </h5>
  </div>

  <div id="no_project" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <table class='table'>
        <thead>
          <th>Project</th>
          <th>Name</th>
          <th>Description</th>
          <th>Time Spent</th>
          <th>From - To</th>
          <th>Date</th>
          <th></th>
        </thead>
        <tbody id='tasks_without_project'>
          <%= render partial: 'tasks/task', collection: tasks %>
        </tbody>
      </table>
    </div>
  </div>
</div>
