<div class="card" id="project_card_<%= project.id %>">
  <div class="card-header" role="tab" id="project_header_<%= project.id %>">
    <h5 class="mb-0">
      <a data-toggle="collapse" href="#project_tasks_<%= project.id %>" aria-expanded="false" aria-controls="project_tasks_<%= project.id %>">
        <%= project.name %>
      </a>
      <span class="badge badge-pill badge-secondary js-project-task-count"><%= project.tasks_count %></span>
      <%= link_to 'New Task', 'javascript://', class: 'btn btn-secondary js-new-task', 'data-project-id' => project.id %>
      <%= link_to project_path(project), class: 'btn btn-secondary', method: :delete, remote: :true, 'data-confirm' => "Are you sure you want to delete project #{ project.name }?" do %>
        <span class='oi oi-trash'></span>
      <% end %>
    </h5>
  </div>

  <div id="project_tasks_<%= project.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <table class='table'>
        <thead>
          <th>Project</th>
          <th>Name</th>
          <th>Description</th>
          <th>Time Spent</th>
          <th>From - To</th>
          <th>Date</th>
          <th></th>
        </thead>
        <tbody id="project_<%= project.id %>">
          <%= render partial: 'tasks/task', collection: project.tasks %>
        </tbody>
      </table>
    </div>
  </div>
</div>
