<%- if !@project.valid? %>
  $('#js-new-project-form').render_form_errors('project', <%= raw @project.errors.to_json %>)
<% else %>
  $('#new_project_modal').modal('hide');
  $('#projects_accordion').append("<%= j render partial: 'project', locals: { project: @project } %>");
  $('#task_project_id').append('<option value="<%= @project.id %>" ><%= @project.name %></option>')
  $('#flash').html('<%= j render partial: "shared/flash_messages" %>');
<% end %>
