<div class='container'>
  <div class='row'>
    <div class="col-12 mb-1">
      <h1>Projects</h1>
    </div>
  </div>
  <div class='row'>
    <div class="col-12 mb-2">
      <%= link_to 'New Project', new_project_path, class: 'btn btn-primary', remote: :true %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>Click on timer to set a date, start hour and end hour</div>
    <div class="col-12 mb-2">
      <%= render partial: 'tasks/new_task', locals: { task: @task, projects: @projects } %>
    </div>
  </div>
  <div class='row'>
    <div id="projects_accordion" class='col-12' role="tablist">
      <%= render partial: 'no_project', locals: { tasks: @tasks } %>
      <%= render @projects %>
    </div>
  </div>
</div>
<div id='new_project_modal'></div>
<div id='edit_task_modal'></div>
