<!DOCTYPE html>
<html>
<head>
  <title>TrackingTime</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header'>
    <%= render partial: 'shared/header' %>
  </div>
  <div id='flash'>
    <%= render partial: 'shared/flash_messages' %>
  </div>
  <%= yield %>
</body>
</html>
